# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# # Executables
# *.exe
# *.out
# *.app

# Build and cache directories
build/
.cache/

# Settings backup files, shouyld be good for the next 75 years
settings_20*.json

# Logs
*.log

.DS_Store
compile_commands.json
firmware.bin.backup.*
